//
// Modals
//

.modal {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: rgba($black, .5);
	display: none;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: $transition;
	padding: 0px 15px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	.content {
		padding: 30px 20px;
		background: rgba($white,.95);
		box-shadow: 0px 0px 30px rgba($black,.5);
		width: 500px;
		text-align: center;
		opacity: 0;
		transition: $transition;
		position: relative;
		top: -50px;

		@include media($md) {
			padding: 30px;
		}

		p {
			line-height: 30px;
		}

		.icon {
			height: 70px;
			margin: 0 auto 20px;
		}

		button {
			margin: 20px 5px 0px;
		}
	}

	&.show {
		opacity: 1;
		
		.content {
			opacity: 1;
			top: 0px;
		}
	}
}

[data-modal] {
	cursor: pointer;
}